<launch>
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find rosee_gazebo_plugins)/worlds/rosee.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

    <!-- not used for now maybe if we have rviz here yes? -->
    <!-- <param name="robot_description" textfile="$(find rosee_gazebo_plugins)/configs/urdf/test_ee_gazebo.urdf"/> -->
    <!-- <param name="robot_description_semantic" textfile="$(find ros_end_effector)/configs/srdf/test_ee.srdf" /> -->
  
    <param name="rate" value="100.0"/>
  
    <!-- load yaml for controllers -->
    <rosparam param="rosee_gazebo_plugin" file="$(find rosee_gazebo_plugins)/configs/test_ee_control.yaml" />

    <!-- Spawn a robot into Gazebo   -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find rosee_gazebo_plugins)/configs/urdf/test_ee_gazebo.urdf -urdf -z 1 -model test_ee" />

</launch>
